#ifndef PLAYER_ICON_PATH
#define PLAYER_ICON_PATH "Player.ico"
#endif

#ifndef PLAYER_VERSION_RC_PATH
#define PLAYER_VERSION_RC_PATH "PlayerVersion.vc6.rc"
#endif

#include "PlayerResources.rc"
#ifdef PLAYER_USE_GENERATED_VERSION_RC
#include "PlayerVersion.generated.rc"
#else
#include PLAYER_VERSION_RC_PATH
#endif
