#ifndef PLAYER_ICON_PATH
#define PLAYER_ICON_PATH "Player.ico"
#endif

#ifndef PLAYER_VERSION_RC_PATH
#define PLAYER_VERSION_RC_PATH "PlayerVersion.vc6.rc"
#endif

#include "PlayerResources.rc"
#include PLAYER_VERSION_RC_PATH
