#include "resource.h"

#include <winres.h>

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCEL ACCELERATORS MOVEABLE PURE
BEGIN
    "/",            IDM_APP_ABOUT,          ASCII,  ALT
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lower ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_PLAYER              ICON    DISCARDABLE     PLAYER_ICON_PATH

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FULLSCREEN_SETUP DIALOGEX 0, 0, 400, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "FullScreen Setup"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",1,100,144,80,16
    LTEXT           "Driver",-1,10,10,24,8
    LTEXT           "Screen Mode",-1,270,10,48,8
    LISTBOX         IDC_LB_DRIVER,10,20,250,120,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDC_LB_SCREEN_MODE,270,20,120,160,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Cancel",2,100,164,80,16
END
